<h3>Sobre el Autor</h3>
<div id="autor">
	<img src="http://t13.deviantart.net/xTIccgDrecTTw38rJBWueloO7rE=/300x200/filters:fixed_height(100,100):origin()/pre03/050e/th/pre/i/2010/163/d/d/_s_by_edur8.jpg"/>

	<p>
		Hola!
	</p>
	<br>
	<p>
		Soy Eduardo Naveira el autor de estar pagina, realizada para el curso de la plataforma MiriadaX.
	</p>

	<iframe src="https://www.youtube.com/embed/_tpPRm92MLA" frameborder="0" allowfullscreen></iframe>

</div>